.social::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 16rem;
   
    height: 20rem;
    /* position: absolute; */
    /* left: calc(50% - 11rem); */
   bottom: 0;
    /* margin-top: 12rem; */
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 2rem 1.5rem 1.4rem;
}
.scroll{
    
    right: 5rem;
    bottom: 5rem;
    transform: rotate(90deg);
}